lighthouse-addons/*
tmp/*
db/*.sqlite3
config/database.yml
db/schema.rb
db/structure.sql
public/system/*
public/uploads/*
public/pdfkit/*
public/pdfkit/projects/*
public/tmp/*
.bundle
config.codekit
log/*
config/development.sphinx.conf
db/sphinx/
tmp/**/*
.DS_Store
tags
Terminal Saved Output.txt
sample.html
dump.rdb
god_scripts
local_HELP
Procfile
.zeus.sock
config/initializers/secret_token.rb
report.html
.codekit-cache
.vscode
